providers = []

[phases.setup]
nixPkgs = ["python311", "nodejs-18_x"]

[phases.install]
dependsOn = ["setup"]
cmds = [
    "python3 -m venv /app/venv",
    "/app/venv/bin/pip install --upgrade pip",
    "/app/venv/bin/pip install -r backend/requirements.txt",
    "cd frontend && npm install"
]

[phases.build]
dependsOn = ["install"]
cmds = ["cd frontend && npm run build"]

[start]
cmd = "/app/venv/bin/gunicorn --chdir backend wsgi:app --bind 0.0.0.0:$PORT --workers 2"

[variables]
PYTHONUNBUFFERED = "1"